body {
	background-color: #fff;
}

.no-bullet {
	list-style: none;
}

.Examples img {
	max-width: 100% !important;
}

.header .logo {
  margin: 0;
}

.large-text {
	font-size: 2.25em;
}

h1 a {
	color: #57b5ca;
}

h1 a:hover {
	color: #57b5ca;
	text-decoration: none;
}


h1 a span {
	color: #999;
	text-decoration: none;
	display: block;
}

h1 a:hover span {
	color: #666;
	text-decoration: none;
}
.gray-text  {color: #c3c3c3;  }
.gray-text-italic {color: #c3c3c3; font-style: italic;}

.testimonial-vertical .testimonial-vertical-author-position {
  color: #c3c3c3;
  padding: 0;
  text-align: right;
}


p { 
font-size: 15px; 
text-align: left;
}

body .h1-page-title {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 2.25em;
	text-align: left; 
	float: none;
	line-height: .8;
	padding-bottom: 10px;
	margin-bottom: 0px;
	/*border-bottom: 1px solid #57b5ca;*/
}

.page-info {
  
  padding-bottom: 10px;
  padding-top: 20px;
   
}

.body-wrapper a, .top-body a, .top-footer a {
	color: #57b5ca;
}

.body-wrapper a:hover, .top-body a:hover, .top-footer a:hover {
	color: #666e66;
}

.content-box.style5.mauve h4 > i {
  background-color: #57b5ca;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: "Montserrat",sans-serif;
    margin: 10px 0 10px;
		text-align: left; 
}

ul li {
		text-align: left; 
		font-family: "Open Sans",sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	color: #57b5ca;
}

.content-style3 .content-style3-icon { 
  margin-right: -30px; 
  top: -16px; 
	left: 0;
}

.accordion-row h3 {
	color: #fff;
}

.dark-accordion.accordion .title {
  background-color: #279fbb;
  color: #fff;
}

.dark-accordion.accordion .title:hover {
  background-color: #57b5ca;
  color: #fff;
}

.breadcrumb-container {
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: -9px;
  position: absolute;
  right: 14px;
  top: 45%;
	background: none;
	background-color: none !important;
   border: none;
	 box-shadow: none !important;
	
}

/*Portfolio*/
.item-img-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.body-wrapper {
	padding-top: 0;

}

/* homepage bullets icons style5 */
.content-box.style5 h4 i {
  border-radius: 50%;  
  font-size: 22px;
  height: 43px;
  line-height: 45px;   
  width: 43px;
}


html{
	  background: #161616;
}

.footer-col a.email:hover
{
	color:  #57b5ca;
}
