


    .navigation > li:hover > a,.navigation > li > a:hover,
    .navigation > li > .activelink,.navigation > li:hover > a > i, .navigation > li > a:hover >
    span.label-nav-sub::before, .navigation > li > a:focus > span.label-nav-sub::before{
    color:  #57b5ca;
    }
    .mobile-menu-button, .mobile-nav, .slider-fixed-container{
    background-color:  #57b5ca;
    }

    .navigation > li > a:after, .navigation>li>.activelink:after{
    background-color:  #57b5ca;
    }
    .navigation>li:hover > a > span.label-nav-sub::before,.navigation>li:hover> a > span.label-nav-sub::before{
    color:  #57b5ca;
    }


    /* Page Content Colors */
    .body-wrapper a:hover , .tab a:hover, accordion .title:hover, .top-body a:hover, .bottom-body
    a:hover,.content-box.content-style2 h4 i
    ,.accordion .active h4, .accordion .title:hover h4, .side-navigation .menu-item.current-menu-item a,
    .side-navigation .menu-item:hover a:after,
    .side-navigation .menu-item:hover a, a.tool-tip, .team-member .team-member-position, .team-member-progress
    .team-member-position, .item-img-overlay i
    ,ul.icon-content-list-container li.icon-content-single .icon-box i,.item-img-overlay .portfolio-zoom:hover,
    .navigation ul li:hover>a, .blog_post_quote:after,
    .item-img-overlay .portfolio-zoom, body .white-text .feature-details a:hover{
    color:  #57b5ca;
    }
    ::selection
    {
    background-color: #57b5ca;
    }
    ::-moz-selection
    {
    background-color: #57b5ca;
    }
    .item-img-overlay .portfolio-zoom:hover, .tab a.active {
    color:  #57b5ca !important;
    }
    .callout-box{
    border-left-color:  #57b5ca
    }
    .feature .feature-content,.team-member .team-member-content{
    border-top-color:  #57b5ca;
    }

    .team-member-progress-bar{
    background-color:  #57b5ca;
    }
    .blog-masonry .blog_post_quote{
    border-top: 2px solid  #57b5ca;
    }
    .tab a.active:after {
    background-color: #57b5ca;
    border-color:  #57b5ca;
    }
    .item-img-overlay{
    background-color:  rgba(87,181,202,0.5);
    }
    .item-img-overlay i:hover{
    background-color:  rgba(87,181,202,0.5);
    }
    body .section-content.section-image{
    background-color:  rgba(87,181,202,0.5);
    }



    .button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg,.content-box.content-style4 h4 i
    ,button.button-main,.body-wrapper .tags a:hover,.callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big
    ,.content-style3:hover .content-style3-icon, .content-box.style5 h4 i, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt{
    background-color: #57b5ca;
    }


    .blog-post-icon,.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected,
    .portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover{
    background-color:  #57b5ca;
    }
    .comments-list .children .comment:after{
    border-color: transparent transparent transparent  #57b5ca;;
    }

    .highlighted-text{
    background-color:  #57b5ca;
    color: #ffffff;
    }
    .icons-list.colored-list li:before, .blog-post-date .day, .blog-post-date .month, strong.colored, span.colored
    ,.content-style3 .content-style3-icon{
    color:  #57b5ca;
    }


    .pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
    color: #57b5ca;
    }


    /* Footer Area Colors */

    .footer .copyright{
    border-color:  #57b5ca;
    }

    .footer .copyright a:hover{
    color:  #57b5ca;
    }
    .flickr_badge_wrapper .flickr_badge_image img:hover{
    border-color:  #57b5ca;
    }
