
<!doctype html>
<html class="no-js" ng-app='app' lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gary King PageDNA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <script src="public/js/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/local.css">

    <script src="public/components/angularjs/angular.min.js"></script>
    <script src="public/app.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>



<div class="container" data-ng-controller="TestCtrl">

<div class=".col-md-12">

    <h1>PageDNA</h1>
    <h2>{{test}} (Gary King)</h2>


<table>

    <tr><th>A</th><th>B</th></tr>

    <tr data-ng-repeat="row in data">

        <td>
            <span data-ng-repeat="(color, state) in row['states']" ng-click="setState(state )">

                <span class="color-box"
                      ng-class="color"
                      ng-model="data['states']"
                      ng-show="state == 'A'">

                {{color}}
                </span>
             </span>
        </td>

        <td>
            <span data-ng-repeat="(color, state) in row['states']" ng-click="setState(state)">

                <span class="color-box"
                      ng-class="color"
                      ng-model="data['states']"
                      ng-show="state == 'B'">

                {{color}}
                </span>

            </span>
        </td>

    </tr>

</table>



</div>


</div>

<div class="container">

    <div class=".col-md-12">
    <h5>NOTES:</h5>
        <p></p>
    </div>
</div>

<script src="public/components/angularjs/angular-route.min.js"></script>
<script src="public/controllers/test.controller.js"></script>

</body>
</html>