h1 {
    color: #0099cc;
}

table, tr, th {
    /*border: 1px solid #fff;*/
    text-align: center;

}

td {
    width: 300px;
    height: 50px;
    text-align: center;

}

td span.color-box {
    display: inline-block;
    min-width: 70px;
    min-height: 70px;
    vertical-align: middle;
    line-height:70px;
    float: left;

}

.green {
    background: green;
    color: #fff;

}
.red {
    background: red;
    color: #fff;

}
.yellow {
    background: yellow;
    color: #000;

}
.blue {
    background: blue;
    color: #fff;

}