.contact {
	margin: 0 0 0 240px;
	padding: 6px;
	/*background: #f8f8f8;*/
	color: #D17137;
}

#contactPopup {
	padding: 0 40px;
}

	
input.contact  {
	margin: 0;
	text-align:left;
	
	width: 220px;
	}

input.warning-form-background {
	
	border:1px solid #808040;
	width: 220px;
	font-size: 12px;
	background: inherit;
	}
	
input.oksofar-back  {
	width: 220px;
	background: #383838;
	border:1px solid #E6EBD3;
	}	
	
input.contactReq {
	background: #D17137;
	border:1px solid #E6EBD3;
	width: 220px;
	}	
	
select.contact {
	margin: 5px 0 ;
	width: 234px;
}
		
.leftTD{
	text-align: right;
	width: 225px;

}

.centerTD{
	text-align: lefts;
	width: 225px;
}

.rightTD{
	text-align: lefts;
	width: 225px;
}

ul.noBulletCheckbox {	
	margin-left: 150px;
	}
		
li.noBulletCheckbox {	
	list-style-position:outside;
	list-style-type:none;
	line-height: 22px;
	font-size: 95%;
	}	
	
.leftColumnContact {
	position: relative;
	margin: 20px 0;
	float: left;
	width: 420px;
	text-align: left;
	word-wrap: break-word;
	/*background: #d8d8d8;*/
	}

.rightColumnContact {
	position: relative;
	margin: 20px 0;
	text-align: left;
	float: right;
	width: 420px;
	word-wrap: break-word; /* ie only */	
	height: 1%; /* Holly hack for Peekaboo Bug */
	<!--background: #333;-->
	}
	
.leftColumnContactPopup {
	position: relative;
	margin: 20px 0;
	float: left;
	width: 410px;
	text-align: left;
	word-wrap: break-word;
	/*background: #d8d8d8;*/
	}

.rightColumnContactPopup {
	position: relative;
	margin: 20px 0;
	text-align: left;
	float: left;
	width: 290px;
	word-wrap: break-word; /* ie only */	
	height: 1%; /* Holly hack for Peekaboo Bug */

	}	
/*#leftColumnContact {
	display:inline;
	float:left;
	margin:20px;
	width:400px;
	word-wrap: break-word; 
	background-color:#d8d8d8;
	}*/

#leftColumnContact td{
	height: 25px;
	}	
		
#leftColumnContact li {	
	list-style-position:outside;
	list-style-type:none;
	line-height: 22px;
	font-size: 95%;
	}	
		
/*#rightColumnContact {
	display:inline;
	margin:20px;
	float:right;
	width:400px;
	text-align:left;
	word-wrap: break-word; 
	height: 1%; 
	
	}*/

		
#rightColumnContact li {	
	list-style-position:outside;
	list-style-type:none;
	line-height: 22px;
	font-size: 95%;
	}
	

#comments {
	width:350px;
	height:100px;
	text-align: left;
	}
	
select.contact {
	width:200px;
	margin: 0 0 6px 0;
	}
		
.contactContainer {
	width:645px;
	margin: 0 0 0 145px;
	text-align:left;
	}
		
/* contact admin page */
	
#contactList th {
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 1px;
	width: 150px;
	}
	
#contactList tbody tr td {
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	width: 150px;		
	}
	
#contactList tbody tr.selected td {

	}
/*end zebra stripes*/
	
